/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.scroll-pane > .viewport {  
   -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
 
    -fx-border-color:transparent transparent transparent #1D1D1D;
    -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #323232 0%, #212121 100%);
 
}
 
 
.scroll-bar:horizontal .track{
 
    -fx-border-color:#1D1D1D transparent transparent transparent;
    -fx-background-color: linear-gradient(from 100% 100% to 100% 0%, #323232 0%, #212121 100%);
 
}
 
 
 
.scroll-bar:horizontal .thumb {
 
 -fx-background-color: linear-gradient(from 100% 100% to 100% 0%, #404040 0%, #585858 100%);
 -fx-effect: dropshadow(one-pass-box,#000000,2.0,0.7,0.0,0.0); 
 -fx-background-insets: 3 3 3 3;                 
 -fx-background-radius: 2em;
 
}
 
.scroll-bar:vertical .thumb {
 
 -fx-background-color: linear-gradient(from 100% 0% to 0% 0%, #404040 0%, #585858 100%);
 -fx-effect: dropshadow(one-pass-box,#000000,2.0,0.7,0.0,0.0); 
 -fx-background-insets: 3 3 3 3;                 
 -fx-background-radius: 2em;
 
}